// Content
  @mixin emptyContent($absolutelyPosition: true) {
    content: ' ';
    display: block;

    @if ($absolutelyPosition) {
      position: absolute;
    }
  }

  @mixin hideElement {
    width: 0;
    height: 0;
    margin: 0;
    overflow: hidden;
    display: block;
  }

  @mixin unhideElement {
    width: auto;
    height: auto;
    overflow: visible;
  }

  @mixin showShortText {
    &:before { content: attr(data-short-text); }
    span { @include hideElement; }
  }


  @mixin hideShortText {
    &:before { content: ''; }
    span { display: inline; }
  }

  @mixin placeholder() {
    &::-webkit-input-placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
  }