// Transitions
  @mixin transitionBG($t: 0.3s) { transition: background ease $t; }
  @mixin transitionColor($t: 0.3s) { transition: color ease $t; }
  @mixin transitionOpacity($t: 0.3s) { transition: opacity ease $t; }

  @mixin transitionColorBorder($t: 0.3s) { transition: color ease $t, border-color ease $t; }

  @mixin transitionBGColorBorder($t: 0.3s) { transition: background ease $t, color ease $t, border-color ease $t; }
