// Weather
  #weather {
    position: relative;

      form, #graph-container {
        max-width: 500px;
        position: relative;
        margin: 0 auto;
      }

      form { z-index: 100; }

      #graph-container {
        margin-bottom: $largeGutter;
        z-index: 20;
      }


      @include breakpoint($minWidth335MaxWidth450, $minWidth951MaxWidth1050) {
          .radio-group label span {
            font-size: 0.9em;
            color: $smallColor;
            font-style: italic;
            display: block;
          }
      }


      @include breakpoint($maxWidth950) {
          .loading {
            position: relative;
            margin-top: $tinyGutter;
          }
      }


      @include breakpoint($minWidth951) {
        padding-left: 600px;

          .loading { left: 30%; }

          #graph-container {
            position: absolute;
            top: 0;
            left: 0;
            margin-bottom: 0;
          }
      }


  }