// CTAs
  .cta {
    position: relative;

      a, button {
        @include transitionBGColorBorder;
        background: transparent;
        padding: 0.8em 1.2em;
        font-size: 1.0em;
        color: $ctaBG;
        font-weight: 600;
        text-transform: uppercase;
        border: 2px solid $ctaBG;
        border-radius: 0.2em;
        display: inline-block;
        cursor: pointer;

          &:hover, &:focus {
            background: $ctaHoverBG;
            color: $ctaColor;
            border-color: $ctaHoverBG;
          }
      }
  }