// Form
  label { cursor: pointer; }

  input, select, textarea, .input {
    @include defaultFont;
    width: 100%;
    background: $inputBG;
    padding: $inputPadding;
    font-size: 1.0em;
    color: $inputColor;
    border-radius: 0.5em;
    border: 2px solid $inputBorderColor;
    display: block;
    box-shadow: 0 0.3em 0.3em $inputShadowColor;
    box-sizing: border-box;

      @include placeholder {
        color: $inputPlaceholderColor;
        font-weight: 200;
        font-style: italic;
      }

      &.inline {
        width: auto;
        display: inline-block;
      }
  }

  input:focus, select:focus, textarea:focus, button:focus { outline: none; }
  [contenteditable="true"]:focus { outline: none; }


  form {
    position: relative;

      dt {
        margin-bottom: 0.5em;
        font-weight: 600;

          &.error {
            margin-bottom: $tinyGutter;
            color: $errorColor;
            font-style: italic;
          }
      }

      dd {
        margin-bottom: $mediumGutter;
      }

      .small-wrapper { display: flex; }

      .small {
        width: 45%;
        width: calc((100% - #{$mediumGutter}) / 2);
        margin-right: $mediumGutter;
        margin-bottom: 0;
        align-self: end;

          &:last-child { margin-right: 0; }

          dd { margin-bottom: 0; }
      }
  }