// Sizes
  $graphMobileHeight: 22.0em;
  $graphTabletHeight: 36.0em;
  $yAxisWidth: $largeGutter;
  $linePlotWidth: 12px;
  $linePlotBorderWidth: 3px;
  $linePlotGapWidth: 3px;
  $lineWidth: 6px;
  $lineWidthThin: 2px;
  $axisOffset: 18px;
  $xAxisSpacing: 3.0em;


// Colors
  $graphBorderColor: #e1e0e0;
  $linePlotBorderColor: #4f5463;


// Graph
  #graph-container {
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: $xAxisSpacing;
  }

  #graph-wrapper {
    width: 100%;
    position: relative;
    padding-left: $yAxisWidth + $axisOffset;
    box-sizing: border-box;
  }


  #y-axis {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    z-index: 5;

      li {
        width: 90%;
        position: absolute;
        left: 10%;
        border-bottom: 0.2em dotted $graphBorderColor;

          html.csscalc & {
            width: calc(100% - #{$axisOffset});
            left: $axisOffset;
          }

          &.lowest-point {
            border-bottom: none;
          }

          span {
            width: $yAxisWidth;
            background: $bodyBG;
            position: relative;
            top: 0.6em;
            padding-right: $tinyGutter;
            text-align: right;
            font-size: 0.8em;
            word-break: break-all;
            display: block;
            box-sizing: border-box;
          }
      }
  }

  .axis {
    text-align: center;
    font-weight: 600;

      small { display: block; }

      &.y {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 10;

          span {
            transform: translateX(-50%) translateY(-50%) rotate(-90deg);
            display: block;

              span { display: none; }
          }
      }

      &.x {
        position: relative;
        top: $xAxisSpacing;
      }
  }



   #graph {
     height: $graphMobileHeight;
     position: relative;
     border-bottom: 2px solid $graphBorderColor;
     border-left: 2px solid $graphBorderColor;
     box-sizing: border-box;
     z-index: 10;

        li {
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          flex-flow: column;

            &.first-month {
              border-left: 0.15em dotted $graphBorderColor;

                &:first-child { border-left: none; }
            }
        }

        .year {
          position: absolute;
          bottom: -$xAxisSpacing;
          left: -1.2em;
          margin: 0;
          font-size: 0.8em;

            &.vertical {
              left: 0.5em;
              transform: rotate(-90deg);
              transform-origin: bottom left;
            }
        }

        .point-position {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 50%;
        }

        .point-wrapper {
          position: absolute;
          bottom: 0;
          left: 0;

            .point {
              width: $linePlotWidth;
              height: $linePlotWidth;
              position: absolute;
              bottom: 50%;
              left: 50%;
              margin-bottom: -($linePlotWidth + $linePlotGapWidth)/2;
              margin-left: -($linePlotWidth + $linePlotGapWidth)/2;
              border-radius: 36.0em;
              border: $linePlotGapWidth solid $bodyBG;
              z-index: 20;

                &:before {
                  @include emptyContent;
                  width: 100%;
                  height: 100%;
                  background: $bodyBG;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  border-radius: 36.0em;
                  border: $linePlotBorderWidth solid $linePlotBorderColor;
                  display: block;
                  box-sizing: border-box;
                }
            }

        }


        .line {
          width: 100%;
          height: $lineWidth;
          background: $linePlotBorderColor;
          position: absolute;
          left: 0;
          bottom: 0;
          border-radius: 1.0em;
          box-sizing: border-box;
          transform-origin: bottom left;
          z-index: 15;

            &.thin {
              height: $lineWidthThin;
              border-radius: 0;
            }
        }
  }