// Sizes
  $loadingIndicatorWidth: 124px;



// Loading indicator
  .loading {
    width: $loadingIndicatorWidth;
    height: $loadingIndicatorWidth;
    background: url(../img/loading-indicator.gif) no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -($loadingIndicatorWidth / 2);
    margin-left: -($loadingIndicatorWidth / 2);
    z-index: 500;

      html.svg & {
        background-image: url(../img/loading-indicator.svg);
        background-size: 100% auto;
      }

  }