// Radio button
  .input.radio {
    width: $inputRadioWidth;
    height: $inputRadioWidth;
    padding: 0;
    border-radius: 36.0em;
    cursor: pointer;

      &:before {
        @include emptyContent;
        @include transitionOpacity;
        width: $inputRadioCheckedWidth;
        height: $inputRadioCheckedWidth;
        background: $inputRadioCheckColor;
        top: 50%;
        left: 50%;
        margin-top: -($inputRadioCheckedWidth / 2);
        margin-left: -($inputRadioCheckedWidth / 2);
        border-radius: 36.0em;
        opacity: 0;
      }

      input[type="radio"]:checked + & {
          &:before { opacity: 1; }
      }
  }



// Radio group
  .radio-group-label label { cursor: text; }

  .radio-group li {
    position: relative;
    margin-bottom: 0.7em;
    padding-top: 0.1em;
    padding-left: 2.2em;

      &:last-child { margin-bottom: 0; }

    
      input, .input {
        position: absolute;
        top: 0;
        left: 0;
      }

      input {
        visibility: hidden;
        z-index: -1;
      }

  }