// Colors
  $tooltipBG: #2e333c;
  $tooltipColor: #FFFFFF;


// Sizes
  $tooltipWidth: 14.0em;
  $tooltipArrowWidth: 0.5em;


// Tooltips
  .has-tooltip {
    position: relative;


      .tooltip {
        width: $tooltipWidth;
        background: $tooltipBG;
        position: absolute;
        top: 2.2em;
        left: 50%;
        margin-left: -($tooltipWidth / 2);
        padding: 0.8em $tinyGutter;
        font-size: 0.8em;
        color: $tooltipColor;
        display: none;
        border-radius: 4px;
        box-sizing: border-box;
        z-index: 100;

          &:before {
            @include emptyContent;
            top: -$tooltipArrowWidth + 0.05em;
            left: 50%;
            margin-left: -($tooltipArrowWidth / 2);
            border-right: $tooltipArrowWidth solid transparent;
            border-bottom: $tooltipArrowWidth solid $tooltipBG;
            border-left: $tooltipArrowWidth solid transparent;
          }

          p { margin: 0; }
          .title {
            margin-bottom: 0.2em;
            text-align: center;
          }
      }

      &.open .tooltip {
        display: block;
      }
  }