// Hide the site if the content's too small
  @include breakpoint($maxWidth334) {

    body:before {
      content: attr(data-window-too-small);
      font-size: 2.0em;
      padding: $mediumGutter;
      display: block;
    }

    #container { display: none; }
  }


// Main body
  body {
    @include defaultFont;
    background: $bodyBG;
    font-size: $bodyTextSize;
    color: $defaultColor;
    overflow-x: hidden;
  }

  #container, #wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
  }

  #container { padding: $mediumGutter; }

  #wrapper {
    max-width: $mainBodyMaxWidth;
    margin: 0 auto;
  }

  p, dl, ul {
    margin-bottom: 1.0em;
    font-size: $textSize;

      p, dl, ul { font-size: 1.0em; }
  }

  .title {
    font-size: 1.2em;
    font-weight: 600;
  }