// Reset
  * {
    margin: 0;
    padding: 0;
    outline: none;
  }

  html { height: 100%; }
  body {
    height: 100%;

      html.ua-ios & { -webkit-overflow-scrolling: touch; }
  }

  a {
    @include transitionColorBorder;
    padding-bottom: 0.1em;
    color: $linkColor;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid $linkColor;

      &:hover, &:focus {
        color: $linkHoverColor;
        border-bottom-color: $linkHoverColor;
      }
  }

  ul { list-style: none; }

  hr { display: none; }

  noscript {
    padding: $mediumGutter;
    font-size: $textSize;
    display: block;
  }

  ::selection {
    background-color: $selectBGColor;
    color: $selectColor;
  }

  .hidden { @include hideElement; }

  .clearfix:after {
    clear: both;
    height: 0;
    content: ' ';
    font-size: 0;
    display: block;
  }