// Defaults
  $bodyBG: #FFFFFF;
  $defaultColor: #2e333c;
  $linkColor: #369aab;
  $linkHoverColor: #237482;
  $smallColor: #a4a9b2;

  $ctaBG: $linkColor;
  $ctaColor: #FFFFFF;
  $ctaHoverBG: #237482;

  $selectBGColor: #ce3762;
  $selectColor: #FFFFFF;


// Form colours
  $inputBG: #FFFFFF;
  $inputColor: $defaultColor;
  $inputPlaceholderColor: #959ba5;
  $inputBorderColor: #e0e4e8;
  $inputShadowColor: rgba(229, 231, 237, 0.3);
  $inputRadioCheckColor: #43464d;
  $errorColor: #bd444b;