// Gutters
    $tinyGutter: 15px;
    $smallGutter: 25px;
    $mediumGutter: 35px;
    $mediumLargeGutter: 45px;
    $largeGutter: 65px;
    $largestGutter: 95px;


// Common elements
    $bodyTextSize: 10px;
    $textSize: 1.6em;
