// Max widths
  $maxWidth334: 'only screen and (max-width: 334px)';
  $maxWidth950: 'only screen and (max-width: 950px)';


// Min widths
  $minWidth351: 'only screen and (min-width: 351px)';
  $minWidth601: 'only screen and (min-width: 601px)';
  $minWidth951: 'only screen and (min-width: 951px)';
  $minWidth1025: 'only screen and (min-width: 1025px)';
  $minWidth1201: 'only screen and (min-width: 1201px)';


// Min and max widths
  $minWidth335MaxWidth450: 'only screen and (min-width: 335px) and (max-width: 450px)';
  $minWidth951MaxWidth1050: 'only screen and (min-width: 951px) and (max-width: 1050px)';


// Retina
    $retina: '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1), (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1)';